.footer-div{
    @include flex-column;
    @include themed(){
        background-color: t(text);
    }
    a{
        font-size: 1em;
        padding: 1rem;
        font-weight: 500;
        align-self: center;
        box-shadow: none;
        
        width: -webkit-fill-available; 
        @include themed(){
            color: t(bg);
        }
        &:hover {
            @include themed(){
                color: t(link);
                background-color: t(bg);
            }
            transition-duration: .2s;
        }
    }
}
@include bp("small"){
    .footer-div{
        flex-direction: row;
        a{
            width: max-content;
        }
    }
}