
    $bg: #F3F2ED;
    $cream:#EAE8DC;
    $cream2:rgb(253, 253, 251);
    $cream3:#F3F2ED;
    $cream1:rgb(190, 182, 138);
    $red:#BE2623;
    $red2:rgb(204, 12, 8);
    $red1:rgb(138, 30, 28);
    $blue:#0D3745;
    $blue1:rgb(72, 107, 119);

// .light-mode {
//     background-color: $bg;
//     color:$blue;
//   }
  
// .dark-mode {
//     -webkit-font-smoothing: antialiased;

//     background-color: #0D3745;
//     color:#EAE8DC;


//     $textNormal: #F3F2ED;
//     $textTitle: #F3F2ED;
//     $textLink: rgb(138, 30, 28);
//     $hr: #BE2623;
//     $cream:#020202;
//     $blue:#EAE8DC;
//     $cream2:#0D3745;
//     $blue1:rgb(195, 193, 182);
//     $red1:#FFA938;
//     $red:#FFA938;
//     $icon:#EAE8DC;
//     $white:#0D3745;
//   }

//--colors
$modal--light:white;
$modal--dark:#0D3745;

$link--light: #0D3745;
$link--dark: #FFA938;

$link2--light: rgb(138, 30, 28);
$link2--dark: #FFA938;

$bg--light: #F3F2ED;
$bg--dark: #0D3745;

$text--light: #0D3745;
$text--dark: #F3F2ED;

$hover--light: rgb(204, 12, 8);
$hover--dark: #FFA938;
